{% extends 'base.html' %}
{% block title %}
    About
{% endblock title %}
{% block content %}
    <div class="container p-3">
        <!-- top banner -->
        <div class="row p-3 top-banner rounded align-items-center"> 
        <div class="col-12 col-md-8 col-lg-9">
            <h2 class="text-white">Ganesh Kumar.G</h2>
            <p class="text-white">Web Developer</p>
            <!-- download btn -->
            <div class="col-12 col-md-6"> 
            </div>
        </div>
        </div>
        <!-- body content -->
        <div class="row justify-content-between mt-5">
        <div class="col-12 col-md-6">
            <h2>Profile</h2>
            <p class="mt-4">
            I am a Web Developer. Capable of adapting and learning new
            technologies within a short span of time.My skills include HTML5,
            CSS3,Bootstrap,Javascript,MongoDB,Python and C.
            </p>
        </div>
        <div class="col-12 col-md-4">
            <div class="row">
            <p class="col-6">Age</p>
            <p class="col-6">20</p>
            </div>
            <div class="row">
            <p class="col-6">Email</p>
            <p class="col-6">ganeshkumar003300@gmail.com</p>
            </div>
            <div class="row">
            <p class="col-6">Phone</p>
            <p class="col-6">9486022356</p>
            </div>
        </div>
        </div>
        <!-- skils -->
        <div class="row mt-5">
        <h2>Professional Skills</h2>
        <div class="col-12 col-md-6">
            <div class="mt-4">
            <span>HTML</span>
            <div class="progress">
                <div
                class="progress-bar"
                role="progressbar"
                style="width: 100%"
                ></div>
            </div>
            </div>
            <div class="mt-4">
            <span>Css</span>
            <div class="progress">
                <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 95%"
                ></div>
            </div>
            </div>
            <div class="mt-4">
            <span>JavaScript</span>
            <div class="progress">
                <div
                class="progress-bar"
                role="progressbar"
                style="width: 85%"
                ></div>
            </div>
            </div>
            <div class="mt-4">
            <span>Bootstrap</span>
            <div class="progress">
                <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 90%"
                ></div>
            </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mt-4">
            <span>Python</span>
            <div class="progress">
                <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 75%"
                ></div>
            </div>
            </div>
            <div class="mt-4">
            <span>C</span>
            <div class="progress">
                <div
                class="progress-bar bg-warning"
                role="progressbar"
                style="width: 70%"
                ></div>
            </div>
            </div>
            <div class="mt-4">
            <span>MongoDb</span>
            <div class="progress">
                <div
                class="progress-bar"
                role="progressbar"
                style="width: 75%"
                ></div>
            </div>
            </div>
        </div>
        </div>
    </div> 
    <br>
{% endblock content %}